`Jadvallar orasidagi munosabat turlari`

In [ ]:
example_db=# \d contacts
                                         Table "public.contacts"
    Column     |          Type          | Collation | Nullable |                 Default
---------------+------------------------+-----------+----------+-----------------------------------------
 first_name    | character varying(50)  |           |          |
 last_name     | character varying(50)  |           |          |
 birthdate     | date                   |           |          |
 interests     | character varying(100) |           |          |
 id            | integer                |           | not null | nextval('my_contacts_id_seq'::regclass)
 phone_number  | character varying(60)  |           | not null |
 profession_id | integer                |           |          |
Indexes:
    "my_contacts_pkey" PRIMARY KEY, btree (id)
Foreign-key constraints:
    "contacts_profession_id_fkey" FOREIGN KEY (profession_id) REFERENCES profession(id)


example_db=#

> `FOREIGN KEY (Tashqi kalit)` — bu bir jadvaldagi ustun (yoki ustunlar guruhi) boshqa bir jadvaldagi ustun bilan bog‘langanini bildiradi.

In [ ]:
example_db=# UPDATE contacts SET profession_id = 4 WHERE id = 1;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 1 WHERE id = 2;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 3 WHERE id = 3;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 2 WHERE id = 5;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 6 WHERE id = 6;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 6 WHERE id =7;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 2 WHERE id = 8;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 5 WHERE id = 9;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 2 WHERE id = 10;
UPDATE 1
example_db=# UPDATE contacts SET profession_id = 4 WHERE id = 11;
UPDATE 1
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession_id
------------+--------------+------------+-----------------------+----+---------------+---------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |             3
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |             4
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |             1
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |             3
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |             2
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |             6
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |             6
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |             2
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |             5
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |             2
 Hilola     | Rahmonova    | 2002-12-28 | Tennis                | 11 | +998904567890 |             4
(11 rows)


example_db=#

Barcha tashqa kalitlarni `profession_id` ustuniga bog'lab chiqdik.

Jadvallar orasidagi munosabat turlari:

1. `One to Many` - bu bitta jadvaldagi bitta yozuv, boshqa jadvaldagi bir nechta yozuvlar bilan bog‘langan bo‘lishini bildiradi.

![alt text](image-one-to-many.png)

Bu turda qanday qilib bog'lanishlar amalga oshirilishini ko'rdik yuqorida, yana bir eslab o'tamiz. 

`ALTER TABLE contacts ADD COLUMN profession_id INT REFERENCES profession (id);`

![alt text](image-REFERENCES.png)

2. `One to One` munosabati — bu bitta jadvaldagi har bir yozuv faqatgina yana bir jadvaldagi bitta yozuv bilan bog‘lanishini anglatadi.