`LIKE`, `BETWEEN` va `IN`

Bizda quyidagi jadval bor:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
(8 rows)


example_db=#

![alt text](image-null-notnull.png)

Jadvalda `null` qiymatiga ega bo'lgan ustunlar bor, ularni ajratib olish uchun quyidagicha komandalar kerak bo'ladi.

`SELECT * FROM my_contacts WHERE birthdate IS NULL;`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE birthdate IS NULL;
 first_name | last_name | birthdate | profession | interests
------------+-----------+-----------+------------+-----------
 Amirxon    | Umarov    |           |            |
 Hayotxon   | Jalilov   |           |            |
 Dilya      | Neymatova |           |            | Coding
(3 rows)


example_db=#

`null` qiymatga ega bo'lmagan ustunlarni ajratib olish uchun esa:

`SELECT * FROM my_contacts WHERE birthdate IS NOT NULL`

example_db=# SELECT * FROM my_contacts WHERE birthdate IS NOT NULL;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
(5 rows)


example_db=#

03:22