Bu darsda ba'zi `SELECT`'ga qo'shib foydalaniladigan `kalit so'zlar`ni ko'rib chiqamiz, ular yordamida jadvallardagi ma'lumotlarni yanada aniqroq ravishda olishimiz mumkin bo'ladi.

`ORDER BY`

Bu kalit so'z orqali biz jadvaldagi ma'lumotlarni ma'lum bir tartib asosida chiqarishimiz mumkin bo'ladi.

Oddiy yo'l bilan jadvalni ekranga chaqiradigan bo'lsak narxlar ttartibsiz ravishda chiqganligini ko'rishimiz mumkin:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
 Edge   | sweet  |  4.30
(4 rows)


example_db=#

Keling shu narxlarni ma'lum tartib asosida chiqaramiz:

`SELECT * FROM doughnut_list ORDER BY price;`

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price;
  name  |  type  | price
--------+--------+-------
 Mazza  | cermy  |  1.23
 Cherry | filled |  3.00
 Edge   | sweet  |  4.30
 Apple  | sweet  |  5.00
(4 rows)


example_db=#

Natijani ko'rib turibmiz narxlar kichik qiymatdan katta qiymatga qarab o'sib borgan.

Boshqacharoq usulda tartiblashni xoxlab qolsak, masalan `type` bo'yicha bo'lsa, ya'ni type ustunidagi so'zlarni bosh harflarini alifbo tartibida qilib `sort` qilib beradi.

`SELECT * FROM doughnut_list ORDER BY type;`

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY type;
  name  |  type  | price
--------+--------+-------
 Mazza  | cermy  |  1.23
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Edge   | sweet  |  4.30
(4 rows)


example_db=#

Agar bizga narxlar `ORDER BY` dagi kabi kichigidan kattasiga emas teskari ravishda chiqishi kerak bo'lsa unda biz `ORDER BY ... DESC` dan foydalanishimiz mumkin.

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price DESC;
  name  |  type  | price
--------+--------+-------
 Apple  | sweet  |  5.00
 Edge   | sweet  |  4.30
 Cherry | filled |  3.00
 Mazza  | cermy  |  1.23
(4 rows)


example_db=#

DESC - Descending

`SUM`

Vazifa sifatida qarasak: bizga endi yuqoridagi `doughnut_list` ichidagi barcha `doughnut`'larni qiymatlarini (narxlarini) yig'indisi kerak:

`SELECT SUM(price) FROM doughnut_list;`

In [ ]:
example_db=# SELECT SUM(price) FROM doughnut_list;
  sum
-------
 13.53
(1 row)


example_db=#

05.10 seconds