`SELECT`

Bu mavzuda biz, ma'lumotlarni chiqarishni ko'rib chiqamiz, `pgAdmin` dasturi orqali tablelardagi ma'lumotlarni ko'rayotgan edik va bu dastur quydagi amalni bajarib ma'lumotlarnini bizga taqdim etayotgan edi:

In [ ]:
SELECT * FROM public.doughnut_list

Terminal orqali biron tabledagi ma'lumotlarni ko'rish uchun quyidagi qatorni terminalga kiritishimiz kerak:

In [ ]:
SELECT * FROM my_contacts;

Natija quyidagi ko'rinishda bo'ladi.

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name  | birthdate  | profession |       interests
------------+-------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev | 1999-12-03 | Designer   | Coding, Reading books
 Umid       | Murodov     |            |            |
 JAhongir   | Otajonov    |            |            |
(3 rows)

example_db=#

Odatda bunday jadvallardagi ma'lumotlar juda katta bo'ladi va bizga kerakli qisminigina ko'rishimiz kerak bo'ladi: Bunday holatda `SELECT` so'rovlarini biroz o'zgartiramiz:

In [ ]:
SELECT * FROM my_contacts WHERE firts_name = 'Shahboz';

Natija:

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE first_name = 'Shahboz';
 first_name |  last_name  | birthdate  | profession |       interests
------------+-------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev | 1999-12-03 | Designer   | Coding, Reading books
(1 row)


example_db=#

07.27 - seconds